body,
html {
    border: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    justify-content:space-between;
    padding: 25px;
    align-items:center ;
    padding-top: 0;
}
nav img{
    width: 10%;
}

.nav-right{
    flex:1;
    display: flex;
    justify-content: space-evenly;
}

.nav-middle{
    display: flex;
    flex:2;
    justify-content: space-evenly;
}


.logo{
    width:fit-content;
}

.banner{
    display: flex;
    justify-content: center;
}

.banner img{
    width: 80%;
    margin: auto;
}

.overview{
    width: 75%;
    margin: 30px auto;
    /* margin-top: 30px; */
}

.overviewOne{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
}

.overviewButton button{
    background-color: black;
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 18px;
}

.services h1{
    text-align: center;
}

.serviceMain{
    width: 80%;
    margin: auto;
}

.serviceMain .row{
    display: flex;
}

.service{
    flex:1;
    padding: 30px;
    text-align: center;
    border: 1px solid black;
    margin: 5px 10px;
    border-radius: 25px;
}

.transport{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 90px;
}

.modes{
    display: flex;
    justify-content: space-evenly;
}

.mode{
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 1px 15px;
}

.mode img{
    margin: 5px;
    width:25%;
    height: 35%;
}

footer{
    background-color: black;
    color: white;
    padding: 35px 10px 10px 5px;
}

footer a{
    color: white;
    text-decoration: none;
}

.fmain{
    width: 60%;
    margin: auto;
    text-align: center;
}
.fmain p{
    font-size: 13px;
    font-weight: 300;
}

.flinks{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.bookingCard{
    width: 60%;
    margin: auto;
    border: 1px solid black;
    background-color: #0b0b0b10;
    padding-bottom: 15px;
}

.bookHeading{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
    width: 100%;
}

.bookHeading h1{
    font-size: 20px;
    font-weight: 500;
}

.radio-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

input[type="radio"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid black;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="radio"]:checked {
    background-color: black;
}

input[type="radio"]:checked:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    margin: 10px;
    border-radius: 50%;
    background-color: white;
}

.bookInput{
    margin-top: 50px;
}

.bookingCard{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookingCard button{
    margin-top: 10px;
    padding: 5px 15px;
    color: white;
    background-color: black;
    border: none;
}

#trackingID{
    margin-top: 25px;
    padding: 10px 35px 10px 5px;
    font-size: 15px;
    border: 0.8px solid black;
}

.ship{
    padding: 50px;
    padding-top: 0px;
    border: 1px solid black;
    width: 80%;
    margin: 50px auto;   
    display: flex;
    flex-direction: column;
}

h3{
    margin-top: 15px;
    width: 100%;
}

.ship legend{
    background-color: black;
    color: white;
    padding: 5px 15px;
    font-size: 13px;
    margin-bottom: 15px;
}

.shipForm{
    margin-left: 50px;
}

.shipForm input{
    width: 90%;
    border: 1px solid black;
    padding: 5px;
}

.ship form{
    margin-bottom: 25px;
}

#shipNow{
    padding: 5px 15px;
    width: 20%;
    margin: auto;
    color: white;
    background-color: black;
    border: none;
}